{% extends "base.html.twig" %}

{% block meta_description %}
    <meta name="description" content="{{ resume.description }}">
{% endblock %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ resume.keywords }}">
{% endblock %}

{% block title %}
    <title>{{ resume.name }} | {{ resume.title }} | {{ resume.email }}</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/resume.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

        <div class="header row">
            <div class="header_title col-md-12">
                <h1>{{ resume.name }}</h1>
                <h2>{{ resume.title }}</h2>
            </div>
        </div>

        {% for section in resume.sections %}
        <div class="cv_section row">
            <div class="cv_section_title col-md-3">
                <h2>{{ section.name }}</h2>
            </div>
            <div class="col-md-9">
            {% for item in section.items %}
                <div class="cv_item">
                    {% for part in item.parts %}
                        {% if part.type == 'timeline' %}
                            <div class="cv_item_timespan float-right">{{ part.start }} - {{ part.end }}</div>
                        {% elseif part.type == 'title' %}
                            {% if part.href is defined %}
                            <h2><a href="{{ part.href }}" target="{{ part.target }}">{{ part.title }}</a></h2>
                            {% else %}
                            <h2>{{ part.title }}</h2>
                            {% endif %}
                        {% elseif part.type == 'list' %}
                            <ul>
                            {% for item in part.list %}
                                <li>{{ item }}</li>
                            {% endfor %}
                            </ul>
                        {% elseif part.type == 'project' %}
                            <h3>{{ part.title }}</h3>
                            <p>{{ part.description }}</p>
                        {% elseif part.type == 'terms' %}
                            <dl class="row">
                            {% for term in part.terms %}
                                <dt class="col-6 col-md-5 col-lg-4 text-right">{{ term.title }}</dt>
                                <dd class="col-6 col-md-7 col-lg-8 mb-md-0">{{ term.description|join('<br>')|raw }}</dd>
                            {% endfor %}
                            </dl>
                        {% elseif part.type == 'about' %}
                            {% for item in part.list %}
                            <span class="other_item">
                                {{ item.key }}: 
                                {% if item.href is defined %}
                                    <a href="{{ item.href }}" target="{{ item.target }}">{{ item.value }}</a>
                                {% else %}
                                    {{ item.value }}
                                {% endif %}
                            </span>
                            {% endfor %}
                        {% elseif part.type == 'text' %}
                            <p>{{ part.text }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}